@import "../variables/color";
@import "../components/btn.scss";
@import "../base/_reset.scss";

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    color: $middleColor;
}

.viewports {
    /* background: $primaryColor; */
    height: 100%;
    width: 100%;
    h2 {
        width: 30%;
        margin: {
            left: 40%;
        };
        font-size: .2rem;
    }
    .btn_group{
        &>.cm-btn{
            margin: {
                left:10px;
            }
        }
    }
    .cm-g-con{
        background:url("../images/ab.jpg"); 
        width: 100%;
        height: 100%;
    }
}